body {
    background-color: rgb(250,250,250);
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#main {
    color: rgb(0,0,0);
    text-align: center;
    background-color: #eee;
}

#img-div {
    /* border: 1px green dashed; */
    background: white;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    max-width: 100%;
}

#title {
    /* border: 1px lightblue solid; */
    font-size: 46px;
}

#tribute-info {
    padding-bottom: 10px;
}

#tribute-link:hover, #tribute-link:visited {
    color: lightblue;
}

h2 {
    margin-top: 0;
    padding-top: 20px;
}

h3 {
    margin-top: 0;
    padding-top: 20px;
    font-size: 25px;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

@media (max-width: 750px) {
    h2 {
        font-size: 55px; 
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 35px; 
    }
}

@media (max-width: 450px) {
    /* h2 {
        font-size: 25px;
    } */
    #main {
        margin: 0;
    }
    #image {
        width: auto;
    }
    #tribute-link-info {
        font-size: 15px;
        padding: 0 15px;
    }
}